jobs:

- job: 'linux'
  pool:
    vmImage: 'ubuntu-latest'
  strategy:
    matrix:
      Python39:
        python.version: '3.9'
        NUMPY_VERSION: "1.19.4"
        SCIPY_VERSION: "1.5.4"
        SKLEARN_VERSION: "*"
      Python310:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "*"
      Python311:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "*"

  variables:
    OMP_NUM_THREADS: '2'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      set -xe
      python --version
      python -m pip install --upgrade pip
      if [[ "$SKLEARN_VERSION" == "*" ]]; then
          # Install latest versions of dependencies.
          python -m pip install scikit-learn
      else
          python -m pip install numpy==$NUMPY_VERSION scipy==$SCIPY_VERSION scikit-learn==$SKLEARN_VERSION
      fi
    displayName: 'Install dependencies'

  - script: |
      set -xe
      pip install -e .
    displayName: 'Install scikit-learn-extra'

  - script: |
      set -xe
      python -m pip install pytest pytest-azurepipelines pytest-cov codecov
      # run doctests in the documentation
      # TODO: remove "|| .." once at least one doctest is added
      python -m pytest doc/*rst doc/modules/*rst || echo "Ignoring exit status"
      python -m pytest --durations 10 --cov=sklearn_extra sklearn_extra
    displayName: 'Test'

  - script: codecov -t $CODECOV_TOKEN || echo "codecov upload failed"
    displayName: 'Upload coverage report'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)

- job: 'macOS'
  pool:
    vmImage: 'macOS-latest'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "*"
      Python311:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "*"
  variables:
    OMP_NUM_THREADS: '2'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
    displayName: 'Use Python $(python.version)'

  - script: |
      set -xe
      python --version
      python -m pip install --upgrade pip
      if [[ "$SKLEARN_VERSION" == "*" ]]; then
          # Install latest versions of dependencies.
          python -m pip install scikit-learn
      else
          python -m pip install numpy==$NUMPY_VERSION scipy==$SCIPY_VERSION scikit-learn==$SKLEARN_VERSION
      fi
    displayName: 'Install dependencies'

  - script: |
      set -xe
      pip install -e .
    displayName: 'Install scikit-learn-extra'

  - script: |
      set -xe
      python -m pip install pytest pytest-azurepipelines pytest pytest-cov codecov
      python -m pytest --durations 10 --cov=sklearn_extra sklearn_extra
    displayName: 'Test'

  - script: codecov -t $CODECOV_TOKEN || echo "codecov upload failed"
    displayName: 'Upload coverage report'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)


- job: 'win'
  pool:
    vmImage: 'windows-latest'
  strategy:
    matrix:
      Python310:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "1.3.2"
      Python311:
        python.version: '3.10'
        NUMPY_VERSION: "1.26.1"
        SCIPY_VERSION: "1.11.3"
        SKLEARN_VERSION: "1.3.2"

  variables:
    OMP_NUM_THREADS: '2'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'

  - script: |
      python --version
      python -m pip install --upgrade pip
      python -m pip install numpy==%NUMPY_VERSION% scipy==%SCIPY_VERSION% scikit-learn==%SKLEARN_VERSION%
    displayName: 'Install dependencies'

  - script: |
      pip wheel . -w dist\
      pip install --pre --no-index --find-links dist\ scikit-learn-extra
    displayName: 'Install scikit-learn-extra'

  - script: |
      cd ..
      python -m pip install pytest pytest-azurepipelines pytest-cov codecov
      python -m pytest --durations 10 --pyargs --cov=sklearn_extra sklearn_extra
    displayName: 'Test'

  - script: codecov -t %CODECOV_TOKEN% || echo "codecov upload failed"
    displayName: 'Upload coverage report'
    env:
      CODECOV_TOKEN: $(CODECOV_TOKEN)
